<h1><%= @user.name %></h1>

<h2> At a glance </h2>

<p> Total distance run: <p>
  <% sum = 0 %>
  <% @user.sessions.each do |session| %>
  <%  sum = sum + session.distance.to_i %>
  <% end %>

  <p><%= sum %>km<p>

<p> Favourite place to run: </p>
<% arr = @user.sessions.pluck(:location) %>
<% freq = arr.inject(Hash.new(0)) { |h,v| h[v] += 1; h } %>
<%= arr.max_by { |v| freq[v] } %>






<h2> Session history </h2>

<% @user.sessions.each do |session|%>
  <p><%= session.activity %></p>
  <p><%= session.distance %></p>
  <p><%= session.location %></p>
  <br>
<% end %>