<h1> <%=link_to 'moonwalk', welcomes_path, class: "little_welcomer" %> </h1>

<h1 class = "page_title"> New session for <%= @session.user.name %> </h1>

<div class = "form_container">
<%= form_for([@session.user, @session]) do |form| %>
  <div class="field">
    <%= form.label :activity %>
    <%= form.text_field :activity %>
  </div>
  <div class="field">
    <%= form.label :distance %>
    <%= form.text_field :distance %> 
  </div>
  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>
  <div class="action">
    <%= form.submit 'Submit session' %>
  </div>
</div>

<% end %>