<h1> <%=link_to 'moonwalk', welcomes_path %> </h1>
<h1> Existing user </h1>

<%= form_tag(users_path, :method => "get", id: "search-form", class: "little_welcomer") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search runners" %>
  <%= submit_tag "Search" %>

<% end %>

<h2>Select your profile from below. <%=link_to "Not here?", new_user_path %> </h2>


<% if @users.present? %>
  <%= render "user" %>
  <% else %>
  <p>There are no users containing the term(s) <%= params[:search] %>.</p>
<% end %>
