 <%= Gon::Base.render_data %>


<div id= "info_container">
  <h1> <%=link_to 'moonwalk', welcomes_path %> </h1>
  <h1 id= "user_name"> <%= @user.name%> </h1>
  <button id ="calculate_moon"> Calculate progress</button>
</div>

<div id = "planet_container">

    
    <div id = "redline">
    <hr id="thelineitself">
    </div>

    <h2 id="how_far"><%= @sum %> / 384,400 km (<%= ((@sum/384400.0)*100).round(2)%>%)</h2>
    <h1 id="to_go"> Only <%= 384400 - @sum%>km to go! </h1>
    <h2 id="back_to_user"><%= link_to '>Back to your profile', user_path(@user) %></h2>

    <img id = "earthpic" src="http://orig10.deviantart.net/ae54/f/2010/326/5/1/51fe8413c296378bbc0563daf917459b-d33emut.png">

    <img id = "moonpic" src="http://images.clipartpanda.com/moon-clip-art-119498436179961113moon_charles_mccolm_01.svg.med.png">

</div>